<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p></p>
    <% if (Groceries.length === 0) { %>
      <h3>There are no groceries yet!</h3>
    <% } else { %>
      <section>
        <% Groceries.forEach(function(g, i) { %>
          <article>
            <ul>
              <li>
                <%= g.item %><%= g.done ? false : ' - Still Needed' %>
                <form action="/groceries/<%= i %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              </li>
            </ul>
             
          </article>
        <% }) %>
      </section>  
      <% } %>
     <hr>
      <form action="/" method="POST">
        <input type="text" name="item">
        <button type="submit">ADD Grocery</button>
      </form>
  </body>
</html>
